<div class="row">
  <div class="col s3 sidebar">
    <div class="profile center">
      <img src="../images/jay.jpg" / >
      <p class="name"> Jay Papandreas </p>
    </div>
    <div class="friends center card-panel">
      <h6 class="friends-header"> Friends </h6>
      <div class="friend">
        <img src="../images/jay.jpg" / >
        <p class="name"> Jay Papandreas </p>
      </div>
      <div class="friend">
        <img src="../images/jay.jpg" / >
        <p class="name"> Jay Papandreas </p>
      </div>
      <div class="friend">
        <img src="../images/jay.jpg" / >
        <p class="name"> Jay Papandreas </p>
      </div>
      <div class="friend">
        <img src="../images/jay.jpg" / >
        <p class="name"> Jay Papandreas </p>
      </div>
      <div class="friend">
        <img src="../images/jay.jpg" / >
        <p class="name"> Jay Papandreas </p>
      </div>
      <div class="friend">
        <img src="../images/jay.jpg" / >
        <p class="name"> Jay Papandreas </p>
      </div>
    </div>
  </div>
  <div class="col s9 main-profile">
    <div class="write-comment card-panel">
      <form id="post-form">
            <textarea id="new-post" cols="30" rows="7" placeholder="Write something to... " name="post"></textarea>
            <input class="btn-small post-button right" type="submit" value="Post" />
      </form>
    </div>
    <div class="post-container card-panel">
      <div class="post">
        <div class="post-header">
          <img src="../images/alex.jpg">
          <div class="post-names">
            <a href="#"> Harlan Kelley</a>&nbsp;&nbsp;&nbsp;➤&nbsp;&nbsp;<a href="#"> Jay Papandreas</a>
             <div class="post-time">
              25mins ago
            </div>
          </div>
        </div>
        <div class="post-content">
          <p> I think you're funny. I like your friends. I like the way they treat you. Happy Birthday my dude! </p>
        </div>
        <div class="post-like-bar">
          <a href="#"> <i class="tiny material-icons">thumb_up</i>
            <span> Like </span>
          </a>
        </div>
        <div class="full-comments-container card-content">
          <div class="other-smaller-container">
            <div class="get-like-bar">
              <i class="tiny material-icons">thumb_up</i>
              <div class="like">
              <span class="like-names"> Jay Papandreas, Michael Benson, and 3 others </span>
              </div>
              </a>
            </div>
            <div class="comment-container">
              <img src="../images/jay.jpg">
              <div class="line1"> <a href="#"> Kyle Schwab </a> A vision board for shitheads</div>
              <div class="line2"> <a href="#"> Like</a>&nbsp;&nbsp;&nbsp;<i class="tiny material-icons">thumb_up</i>&nbsp;&nbsp;&nbsp;<span class="number_of_likes">&nbsp;4&nbsp;</span></div>
            </div>
            <div class="write-comment">
              <form id="comment-form">
                <textarea id="new-comment" cols="30" rows="1" placeholder="Write a comment..." name="post"></textarea>
                <input class="btn-small post-button right" type="submit" value="Post" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post-container card-panel">
      <div class="post">
        <div class="post-header">
          <img src="../images/alex.jpg">
          <div class="post-names">
            <a href="#"> Harlan Kelley</a>&nbsp;&nbsp;&nbsp;➤&nbsp;&nbsp;<a href="#"> Jay Papandreas</a>
             <div class="post-time">
              25mins ago
            </div>
          </div>
        </div>
        <div class="post-content">
          <p> I think you're funny. I like your friends. I like the way they treat you. Happy Birthday my dude! </p>
        </div>
        <div class="post-like-bar">
          <a href="#"> <i class="tiny material-icons">thumb_up</i>
            <span> Like </span>
          </a>
        </div>
        <div class="full-comments-container card-content">
          <div class="other-smaller-container">
            <div class="get-like-bar">
              <i class="tiny material-icons">thumb_up</i>
              <div class="like">
              <span class="like-names"> Jay Papandreas, Michael Benson, and 3 others </span>
              </div>
              </a>
            </div>
            <div class="comment-container">
              <img src="../images/jay.jpg">
              <div class="line1"> <a href="#"> Kyle Schwab </a> A vision board for shitheads</div>
              <div class="line2"> <a href="#"> Like</a>&nbsp;&nbsp;&nbsp;<i class="tiny material-icons">thumb_up</i>&nbsp;&nbsp;&nbsp;<span class="number_of_likes">&nbsp;4&nbsp;</span></div>
            </div>
            <div class="write-comment">
              <form id="comment-form">
                <textarea id="new-comment" cols="30" rows="1" placeholder="Write a comment..." name="post"></textarea>
                <input class="btn-small post-button right" type="submit" value="Post" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="post-container card-panel">
      <div class="post">
        <div class="post-header">
          <img src="../images/alex.jpg">
          <div class="post-names">
            <a href="#"> Harlan Kelley</a>&nbsp;&nbsp;&nbsp;➤&nbsp;&nbsp;<a href="#"> Jay Papandreas</a>
             <div class="post-time">
              25mins ago
            </div>
          </div>
        </div>
        <div class="post-content">
          <p> I think you're funny. I like your friends. I like the way they treat you. Happy Birthday my dude! </p>
        </div>
        <div class="post-like-bar">
          <a href="#"> <i class="tiny material-icons">thumb_up</i>
            <span> Like </span>
          </a>
        </div>
        <div class="full-comments-container card-content">
          <div class="other-smaller-container">
            <div class="get-like-bar">
              <i class="tiny material-icons">thumb_up</i>
              <div class="like">
              <span class="like-names"> Jay Papandreas, Michael Benson, and 3 others </span>
              </div>
              </a>
            </div>
            <div class="comment-container">
              <img src="../images/jay.jpg">
              <div class="line1"> <a href="#"> Kyle Schwab </a> A vision board for shitheads</div>
              <div class="line2"> <a href="#"> Like</a>&nbsp;&nbsp;&nbsp;<i class="tiny material-icons">thumb_up</i>&nbsp;&nbsp;&nbsp;<span class="number_of_likes">&nbsp;4&nbsp;</span></div>
            </div>
            <div class="comment-container">
              <img src="../images/jay.jpg">
              <div class="line1"> <a href="#"> Kyle Schwab </a> A vision board for shitheads</div>
              <div class="line2"> <a href="#"> Like</a>&nbsp;&nbsp;&nbsp;<i class="tiny material-icons">thumb_up</i>&nbsp;&nbsp;&nbsp;<span class="number_of_likes">&nbsp;4&nbsp;</span></div>
            </div>
            <div class="write-comment">
              <form id="comment-form">
                <textarea id="new-comment" cols="30" rows="1" placeholder="Write a comment..." name="post"></textarea>
                <input class="btn-small post-button right" type="submit" value="Post" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
